In [2]:
%load_ext sql
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
import zipfile
import os
import configparser
import pandas as pd
import geopandas
from sqlalchemy import create_engine
import sqlalchemy.sql
from shapely.geometry import Point, Polygon
import ipywidgets as widgets

In [4]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/databases/mysql.cfg")
dburl = mysqlcfg['mysql']['url']

os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
eng = create_engine(dburl)
con = eng.connect()

In [5]:
%sql SELECT version()

1 rows affected.

[('8.0.27',)]

In [6]:
%%sql

DROP TABLE IF EXISTS Purchases;
DROP TABLE IF EXISTS Products;
DROP TABLE IF EXISTS TestData;
DROP TABLE IF EXISTS Customers;

CREATE TABLE TestData
	(
      batchID varchar(10) NOT NULL PRIMARY KEY UNIQUE,
      thc FLOAT NOT NULL,
      cannabinoids FLOAT NOT NULL,
      terpenes FLOAT NOT NULL,
      strain_name varchar(50) NOT NULL,
      labID INT NOT NULL,
      labeled_effects varchar(10) NOT NULL CHECK (labeled_effects = "sativa" or labeled_effects = "indica" or labeled_effects = "hybrid")
	);
CREATE TABLE Products
	(
      SKU INT NOT NULL PRIMARY KEY,
      prodName varchar(100) NOT NULL,
      price FLOAT NOT NULL,
      currStock INT NOT NULL CHECK (currStock > 0),
      storeCost FLOAT NOT NULL,
      location varchar(50) NOT NULL CHECK (location = "backroom" or location = "floor" or location = "safe"),
      batchID varchar(10) NOT NULL,
      Foreign Key (batchID)
        References TestData (batchID),
      tax_rate FLOAT NOT NULL
	);
CREATE TABLE Customers
	(
	  IDNumber varchar(50) NOT NULL PRIMARY KEY,
	  strainPref FLOAT NOT NULL,
      IDstate varchar(2) NOT NULL,
      name varchar(50) NOT NULL,
      shopping_allowed bool NOT NULL
    );
CREATE TABLE Purchases
	(
      purchaseID INT NOT NULL,
      SKU INT NOT NULL,
      customerID varchar(50) NOT NULL,
      quantity INT NOT NULL CHECK (quantity > 0),
      totalPrice FLOAT NOT NULL,
      paymentMethod varchar(5) NOT NULL CHECK (paymentMethod = "cash" OR paymentMethod = "debit"),
      Foreign Key (customerID)
        References Customers (IDNumber),
      Foreign Key (SKU)
        References Products (SKU),
      Primary Key (purchaseID, SKU)
	);

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
DROP TRIGGER if exists delete_customer;
DROP TRIGGER if exists delete_product;
DROP TRIGGER if exists delete_test;
DROP TRIGGER if exists buy_product;


CREATE TRIGGER delete_customer #trigger to cascade customer deletions
before delete on Customers
for each row
begin
DELETE FROM Purchases
WHERE Purchases.customerID = old.IDnumber;
end;

CREATE TRIGGER delete_product #trigger to cascade product deletions
before delete on Products
for each row
begin
DELETE FROM Purchases
WHERE Purchases.SKU = old.SKU;
end;

CREATE TRIGGER delete_test #trigger to cascade test deletions
before delete on TestData
for each row
begin
DELETE FROM Products
WHERE Products.batchID = old.batchID;
end;

CREATE TRIGGER buy_product #trigger to subtract quantity from Products table when Customer makes Purchase
before insert on Purchases
for each row
begin
UPDATE Products SET currStock = currStock - new.quantity
WHERE Products.SKU = new.SKU;
end;

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql

INSERT INTO Customers VALUES ('17-075-2848',0.75,'CO','Sam Steingard',1);
INSERT INTO Customers VALUES ('17-085-4188',0.15,'MT','Paul Blart',1);
INSERT INTO Customers VALUES ('17-075-3248',0.80,'CO','Steven Phlandis',1);
INSERT INTO Customers VALUES ('17-121-4080',0.20,'WI','John Johnson',0);

INSERT INTO TestData VALUES ('404R-1312',24.14,1.05,0.87,'Super Lemon Haze',1,'sativa');
INSERT INTO TestData VALUES ('404R-0431',27.28,1.32,0.47,'Capn Kush Berries',1,'indica');
INSERT INTO TestData VALUES ('404R-1512',72.21,0.95,0.17,'Rainbow Belts',2,'hybrid');
INSERT INTO TestData VALUES ('404R-0123',68.25,1.10,0.77,'MAC',1,'hybrid');

INSERT INTO Products VALUES (1001,'Super Lemon Haze Bulk Bud', 3.75, 445, 1.75, 'backroom', '404R-1312', 24.85);
INSERT INTO Products VALUES (1002,'Capn Kush Berries Bulk Bud', 4.55, 120, 2.25, 'floor', '404R-0431', 24.85);
INSERT INTO Products VALUES (1003,'Rainbow Belts Live Rosin', 35, 12, 21, 'floor', '404R-1512', 24.85);
INSERT INTO Products VALUES (1004,'MAC Live Resin', 15, 12, 8, 'floor', '404R-1512', 24.85);

INSERT INTO Purchases VALUES (1,1001,'17-075-2848',14,65.55,'cash'),(1,1002,'17-075-2848',14,79.53,'cash');
INSERT INTO Purchases VALUES (2,1003,'17-085-4188',1,43.70,'debit'),(2,1004,'17-085-4188',1,18.73,'debit');
INSERT INTO Purchases VALUES (3,1001,'17-075-3248',7,32.77,'cash'),(3,1004,'17-075-3248',2,37.46,'cash');
INSERT INTO Purchases VALUES (4,1001,'17-121-4080',28,131.09,'cash');

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
2 rows affected.
2 rows affected.
2 rows affected.
1 rows affected.

[]

In [9]:
%%sql

SELECT *,(price/storeCost-1)*100 as percentMargin
FROM Products;

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
4 rows affected.

[(1001, 'Super Lemon Haze Bulk Bud', 3.75, 396, 1.75, 'backroom', '404R-1312', 24.85, 114.28571428571428),
 (1002, 'Capn Kush Berries Bulk Bud', 4.55, 106, 2.25, 'floor', '404R-0431', 24.85, 102.22223069932727),
 (1003, 'Rainbow Belts Live Rosin', 35.0, 11, 21.0, 'floor', '404R-1512', 24.85, 66.66666666666667),
 (1004, 'MAC Live Resin', 15.0, 9, 8.0, 'floor', '404R-1512', 24.85, 87.5)]

In [70]:
%%sql

SELECT c.IDNumber as customer,  pu.purchaseID, AVG(products_aug.percentMargin) as purchaseMargin
FROM Customers c, Purchases pu, (
    SELECT *,(price/storeCost-1)*100 as percentMargin
    FROM Products) AS products_aug
WHERE c.IDNumber = pu.customerID and products_aug.SKU = pu.SKU
GROUP BY customer, purchaseID
ORDER BY purchaseMargin DESC;

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
4 rows affected.

[('17-121-4080', 4, 114.28571428571428),
 ('17-075-2848', 1, 108.25397249252077),
 ('17-075-3248', 3, 100.89285714285714),
 ('17-085-4188', 2, 77.08333333333334)]

In [45]:
%%sql

SELECT floors/allProd as percentOnFloor
FROM 
(SELECT COUNT(location) as allProd
FROM Products) as al,
(SELECT COUNT(location) as floors
FROM Products
WHERE location = "floor") as fl

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
1 rows affected.

[(Decimal('0.7500'),)]

In [65]:
%%sql

SELECT backrooms/allProd as percentInBackroom
FROM 
(SELECT COUNT(location) as allProd
FROM Products) as al,
(SELECT COUNT(location) as backrooms
FROM Products
WHERE location = "backroom") as br;

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
1 rows affected.

[(Decimal('0.2500'),)]

In [64]:
%%sql
WITH CTE(customer, SKU) AS 
(
    
    SELECT c.IDNumber, p.SKU
    FROM Customers c, Purchases p
    WHERE c.IDNumber = p.CustomerID
    GROUP BY c.IDNumber, p.SKU
    
),
CTE2(SKU, thc) AS
(
    SELECT p.SKU, td.THC
    FROM Products p, TestData td
    WHERE p.batchID = td.batchID
    
)

SELECT customer, AVG(THC) as avgTHC
FROM CTE, CTE2
WHERE CTE.SKU = CTE2.SKU
GROUP BY customer
ORDER BY avgTHC DESC;

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
4 rows affected.

[('17-085-4188', 72.20999908447266),
 ('17-075-3248', 48.17499923706055),
 ('17-075-2848', 25.710000038146973),
 ('17-121-4080', 24.139999389648438)]

In [71]:
%%sql

DELETE FROM TestData
WHERE batchID = '404R-1312'

 * mysql://sast2883:***@applied-sql.cs.colorado.edu:3306/sast2883
1 rows affected.

[]